# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=youtube_db

# Microservices Ports
USER_SERVICE_PORT=3001
AUTH_SERVICE_PORT=3002
VIDEO_SERVICE_PORT=3003
FRONTEND_PORT=3000
